In [3]:
import kagglehub
import pandas as pd

# Download the latest version of the dataset
dataset_path = kagglehub.dataset_download("elvinrustam/books-dataset")

# Print the path where files are stored
print("Dataset downloaded to:", dataset_path)

Dataset downloaded to: C:\Users\afraa\.cache\kagglehub\datasets\elvinrustam\books-dataset\versions\3

In [4]:
import os

# Find the CSV file in the downloaded directory
csv_file = [f for f in os.listdir(dataset_path) if f.endswith(".csv")][0]

# Load the dataset
df = pd.read_csv(os.path.join(dataset_path, csv_file))

# Display the first few rows
df.head()

,Title,Authors,Description,Category,Publisher,Publish Date,Price
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,"Friday, January 1, 1993",Price Starting at $8.79
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,"Sunday, March 1, 1981",Price Starting at $4.99
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,"Thursday, September 1, 1983",Price Starting at $4.99
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,"Monday, April 1, 1991",Price Starting at $4.99
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,"Saturday, February 1, 1997",Price Starting at $5.32

In [5]:
df.shape

(103082, 7)

In [6]:
df.isnull().sum()

Title               0
Authors             0
Description     32869
Category        26170
Publisher           8
Publish Date        0
Price               0
dtype: int64

In [8]:
df.dtypes

Title           object
Authors         object
Description     object
Category        object
Publisher       object
Publish Date    object
Price           object
dtype: object

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = df.drop(['Publish Date', 'Price'], axis=1)
df.head(5)

,Title,Authors,Description,Category,Publisher
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",NaN,NaN,Natl Pr Books
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler

In [11]:
df.to_csv("E:/Projects/Book_Recommender/book_data.csv", index=False)